---
import { SEO } from "astro-seo";
import "../styles/global.css";
import "@fontsource/jetbrains-mono";
export interface Props {
  title?: string;
}
const { title ="Forkbomb.eu :: crypto and blockchain trusted by hackers" } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <SEO 
        title={title}
        description={""}
    />
    <!-- Matomo Forkbomb.eu-->
    <script is:inline>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://matomo.dyne.org/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '4']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
    
    <script is:inline>window.$crisp=[];window.CRISP_WEBSITE_ID="c73872e0-153e-4995-a9c6-4bffb5a33c10";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
  </head>
  
  <body>
    <slot/>
    <!-- Matomo Image Tracker-->
    <img referrerpolicy="no-referrer-when-downgrade" src="https://matomo.dyne.org/matomo.php?idsite=4&amp;rec=1" style="border:0" alt="" />
    <!-- End Matomo -->
  </body>
</html>
